<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-md-6 col-xl-4 mt-2">
            <partial name="_TotalBookingsChart" />
        </div>
    </div>

    <div class="row">
    </div>
</div>

@section scripts{
    <script src="~/js/dashboard.js"></script>
}