@using WhiteLagoon.Helper;

<div class="card">
    <div class="card-body">
        <div>
            <p class="text-muted mb-0">Customer Bookings</p>
        </div>
        <div id="customer_bookings_chart" data-colors='["--bs-primary", "--bs-warning"]'></div>

        <div class="justify-content-center text-center chart-spinner" style="display:none">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

@Html.PartialSectionScripts(
    @<script>
             $(document).ready(function () {
                 $(".chart-spinner").show();

                 // Get the dynamic data from the server
                 fetch('@Url.Action("GetCustomerBookingsChartData","Dashboard")')
                     .then(response => response.json())
                     .then(data => {
                         loadCustomerBookingsPieChart("customer_bookings_chart", data);
                         $(".chart-spinner").hide();
                     });
             });

             // Function to load the Pie chart
             function loadCustomerBookingsPieChart(id, data) {

                 var chartColors = getChartColorsArray(id);

                 var options = {
                     colors: chartColors,
                     series: data.series,
                     labels: data.labels,
                     chart: {
                         width: 380,
                         type: 'pie',
                     },
                     stroke: {
                         show:false
                     },
                     plotOptions: {
                         pie: {
                             dataLabels: {
                                 offset: -10,
                             },
                         }
                     },
                     legend: {
                         position: 'bottom',
                         horizontalAlign: 'center',
                         labels: {
                             colors: "#fff",
                             useSeriesColors: true
                         },
                     },
                     responsive: [{
                         breakpoint: 480,
                         options: {
                             chart: {
                                 width: 300
                             },
                             legend: {
                                 position: 'bottom'
                             },
                         }
                     }]
                 };

                 var chart = new ApexCharts(document.querySelector("#" + id), options);
                 chart.render();
             }
    </script>
)