@model WhiteLagoon_Models.RegisterVM

<div class="container pt-5">
<div class="card shadow border ">
    <div class="card-header bg-success bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Register</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <form id="registerForm" class="row" asp-route-returnUrl="" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Email" class="ms-2 text-muted">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Name" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Name" class="ms-2 text-muted">Full Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Phone" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Phone" class="ms-2 text-muted">Phone Number</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Password" class="ms-2 text-muted">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                        <div class="form-floating mb-3 col-md-6">
                            <select asp-for="Role" asp-items="@Model.RoleList" class="form-select">
                                <option disabled selected>-Select Role-</option>
                            </select>
                        </div>
                    <div class="col-12">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-success">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
  
}
