@model WhiteLagoon_Models.ViewModels.VillaNumberVM

<div class="container card shadow border-0 mt-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Villa Number</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="VillaNumber.Villa_Number" hidden />
            <div class=" p-3">
                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.VillaNumber.VillaId" disabled asp-items="@Model.VillaList" class="form-select border shadow">
                    </select>
                    <label asp-for="VillaNumber.VillaId" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.VillaId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaNumber.Villa_Number" readonly class="form-control border shadow" />
                    <label asp-for="VillaNumber.Villa_Number" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.Villa_Number" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="VillaNumber" asp-action="Index" class="btn btn-outline-secondary border  form-control">
                            <i class="bi bi-arrow-left-circle"></i> Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
